* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  /* padding: 20px 10px; */
  font-family: "Raleway", sans-serif;
  height: 60px;
}
nav #logo {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 10%;
}
nav #logo:hover {
  cursor: pointer;
}

nav #logo #logopng {
  height: 60px;
}
nav #logo h4 {
  margin: 12px 20px;
  font-size: 30px;
  font-weight: bold;
}

nav .optionsContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 30%;
  width: 30%;
  /* height: max-content; */
  justify-content: center;
  margin: auto;
}

li {
  margin: auto 30px;
  font-size: 20px;
  list-style: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
nav .optionsContainer li:hover {
  cursor: pointer;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(44, 58, 255, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.5);
}

.burger {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 16px;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(66, 66, 66);
  margin: 3px;
  border-radius: 60px;
}

@media screen and (max-width: 900px) {
  nav {
    overflow-x: hidden;
  }
  nav .optionsContainer {
    position: absolute;
    right: 0;
    height: 92vh;
    width: 120vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    transform: translateX(100%);
  }
  .optionsContainer li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transition: transform 0.5s ease-in;
  transform: translateX(0%);
}
/* @keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(8px);
  }
} */
